head
   meta(charset='utf-8')
   meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
   title='MGDA - Maringá GameDev Association'
   link(rel='stylesheet' href='css/normalize.css')
   link(rel='stylesheet' href='css/styles.css')
   link(rel='author' href='humans.txt')
   link(rel='license' href='license.txt')
   link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat|Poppins')
