doctype html
html
   include ../includes/head.pug
   body
      include ../includes/menu.pug
      div.root
         div.start
         div.middle
            h1.title='Bem-vindo à página do MGDA'
            p.subtitle
               span='Conheça nossos membros e projetos'
            div.content
               p='Lorem Ipsum'
         div.end
